<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp7.Properties.Settings.loginConnectionString"
            connectionString="Data Source=DESKTOP-54H4EQ5\SQLEXPRESS;Initial Catalog=login;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>